{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1 class="titre"> Hello </h1>
    {% block banner %} {% include 'about.html.twig' %} {% endblock %}
    {% block orga %} {% include 'organisation.html.twig' %} {% endblock %}
{% endblock %}
