{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<h1 class="titre"> Hello </h1>
    {% include 'about.html.twig' %}
    {% include 'organisation.html.twig' %}
{% endblock %}
