<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 class="mb-0">génération trail et
                <span class="text-primary">triathlon Blois</span>
            </h1>
            <div class="subheading mb-5">rue Henri Dupon 41000 BLOIS
                <a href="mailto:name@email.com">generationtrail@hotmail.fr</a>
            </div>
            <p class="lead mb-5">Le club où se mèle sport, amitié et aventure  et allez je suis sympà triathlon .</p>
            <div class="social-icons">
                <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
    </section>

    <hr class="m-0">

</div>