{% extends 'base.html.twig' %}
{% block body %}
<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="organisation">
    <div class="my-auto">
        <h2 class="mb-5">Viens on organise des trucs dehors</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                {% for about in abouts %}
                <h3 class="mb-0">{{ about.name }}</h3>
                <div class="subheading mb-3">{{ about.subheading }}</div>
                <p>{{ about.description }}</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">{{ about.date }}</span>
            </div>
        </div>
        <hr class="m-0">
        {% endfor %}

    </div>

</section>



{% endblock  %}